In [1]:
import pandas as pd
import numpy as np
import pickle
from tqdm import tqdm_notebook as tqdm

In [2]:
path = "/mnt/disks/sdc/data/"
out_path = "/mnt/disks/sdc/data_journals/"

In [8]:
articles = pd.read_csv(path+'article.txt',sep='\t')

/home/User1/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
articles = articles[["ID_Art","Code_Revue","Annee_Bibliographique"]]

In [9]:
articles.head()

,ID_Art,ItemID,Annee_Bibliographique,Code_Revue,Nb_Reference,Nb_Auteur
0,1351047,A1981LA23400028,1981,3868,0,1
1,1351048,A1981LA23400029,1981,3868,0,1
2,1351049,A1981LA23400031,1981,3868,0,1
3,1351050,A1981LA23400032,1981,3868,0,1
4,1351051,A1981LA23400036,1981,3868,0,1

In [ ]:
articles = {}
with open(path+'article.txt','r') as f:
    reader = csv.reader(f,delimiter='\t')
    next(reader)
    for line in reader:
        articles[int(line[0])] = int(line[2])

In [7]:
art_infos = {}
for i in tqdm(range(len(articles))):
    row = articles.iloc[i]
    art_infos[row['ID_Art']] = row[["Code_Revue","Annee_Bibliographique"]]

# for index, row in tqdm(articles.iterrows()):
#     art_infos[row['ID_Art']] = row[["Code_Revue","Annee_Bibliographique"]]

/home/User1/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

A Jupyter Widget

KeyboardInterrupt:

In [16]:
row

(0, ID_Art                           1351047
 ItemID                   A1981LA23400028
 Annee_Bibliographique               1981
 Code_Revue                          3868
 Nb_Reference                           0
 Nb_Auteur                              1
 Name: 0, dtype: object)