In [1]:
import pandas as pd
#import dask.dataframe as dd
from tqdm import tqdm_notebook as tqdm
import csv

In [2]:
path = "/mnt/disks/sdc/data/"

In [7]:
type_cit = pd.read_csv(path+'type_ref_table.csv')

#### Table to txt

In [4]:
import tables as tb
a = tb.open_file(path+'similarity_refs_only.h5')
table = a.root.citations.sim

In [5]:
sim_table = pd.DataFrame.from_records(table.read())

sim_table.to_csv(path+'similarity_refs_only.csv')

#### Dask

sim_table = pd.read_hdf(path+'similarity_refs_only.h5','/citations/sim')

In [8]:
type_cit = type_cit.astype('uint32')

In [14]:
sim_table.head()

     Citant      Cite       Sim
0  48356158  14665548  0.072510
1  17141691  11864937  0.100220
2  17141691  13056009  0.036102
3  17141691  14564562  0.126709
4  17141691  14594222  0.045776

In [13]:
type_cit.head()

     Citant     Cite  Aut_Citant  Type_Cit
0  60667576  1827244    18672289         2
1  60667576  7002261    18672289         2
2  60667576  7000285    18672289         2
3  60667576  7720920    18672289         2
4  60667576  8159100    18672289         2

In [12]:
type_cit.rename(columns={'ID_Citant':'Citant','ID_Cite':'Cite'},inplace=True)

In [20]:
data = pd.merge(type_cit,sim_table,on=['Citant','Cite'],how='inner')

In [21]:
len(data)

1689894033

In [22]:
data.to_csv(path+'type_sim_refs_only_v2.csv',index=False)

In [9]:
len(data)

KeyboardInterrupt:

In [14]:
sim_table.loc[(sim_table['Citant']==48085624) &  (sim_table['Cite']==42641311) ]

Empty DataFrame
Columns: [Citant, Cite, Sim]
Index: []

In [7]:
data = data[['Citant','Cite','Aut_Citant','Type_Cit','Sim']]

In [9]:
data.to_csv(path+'type_sim_refs_only.csv',index=False)

In [10]:
type_cit.head()

   ID_Citant   ID_Cite  Aut_Citant  Type_Cit
0   59809248  56650757    16967107         2
1   48085624  42641311     2719220         2
2   51672989  42641311    24181549         2
3   15736741  42641311    45944122         2
4   55533977  53633374    40181022         2

In [9]:
data.head()

       Citant        Cite  Aut_Citant  Type_Cit       Sim
0  59809248.0  56650757.0    16967107         2  0.090393
1         NaN         NaN     2719220         2       NaN
2         NaN         NaN    24181549         2       NaN
3         NaN         NaN    45944122         2       NaN
4  55533977.0  53633374.0    40181022         2  0.080200