In [1]:
import pandas as pd
from tables import *
import csv
import numpy as np
import pickle
import time

In [2]:
path = '/home/User1/data/self_citations/'

In [3]:
disciplines = pd.read_csv(path+'liste_discipline.txt',encoding='latin_1',sep='\t')
articles = pd.read_csv(path+'article.txt',sep='\t')

/home/User1/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
h5file = open_file(path + 'self_citations.h5', mode="r", title="Self Citations")
table = h5file.root.counts.self_cits

In [5]:
clusterID = pd.read_csv(path+'clusterID.txt',sep='\t')
clusterID = clusterID.merge(articles[['ID_Art','ItemID','Annee_Bibliographique','Code_Revue']],left_on='UT',right_on='ItemID')
clusterID = clusterID.drop(['UT','ItemID'],axis=1)

In [6]:
liste_revue = pd.read_csv(path+'Liste_Revue.txt',sep='\t')

In [7]:
liste_revue = liste_revue.merge(disciplines,on='Code_Discipline')

In [8]:
clusterID = clusterID.merge(liste_revue[['Code_Revue','EDiscipline']],on='Code_Revue')

In [10]:
clusterID.head(5)

   Cluster_ID    ID_Art  Annee_Bibliographique  Code_Revue        EDiscipline
0          44  31346952                   2008        3306  Clinical Medicine
1    41700452  45961858                   2010        3306  Clinical Medicine
2    43807191  30069198                   2007        3306  Clinical Medicine
3    39522379  30069198                   2007        3306  Clinical Medicine
4    48792209  30069198                   2007        3306  Clinical Medicine

In [16]:
authors_info = clusterID.groupby(['Cluster_ID']).agg({'EDiscipline': 'max', 'Annee_Bibliographique': 'min'})

In [17]:
with open(path+'authors_info.csv','w') as f:
    authors_info.to_csv(f,sep='\t')

In [22]:
authors_info.head(5)

           EDiscipline  Annee_Bibliographique
Cluster_ID
1           Humanities                   2013
2           Humanities                   1999
3            Chemistry                   2013
4            Chemistry                   2015
5           Humanities                   2017

In [53]:
authors_info.loc[125,]

EDiscipline              Health
Annee_Bibliographique      1986
Name: 125, dtype: object

In [25]:
authors_info.columns

Index(['EDiscipline', 'Annee_Bibliographique'], dtype='object')

In [52]:
clusterID.loc[clusterID['Cluster_ID'] == 125,]

,Cluster_ID,ID_Art,Annee_Bibliographique,Code_Revue,EDiscipline
18663621,125,6760518,1987,1211,Biomedical Research
92742537,125,5570337,1986,883,Health
143477556,125,6505375,1987,828,Clinical Medicine

In [12]:
list_disciplines = disciplines['EDiscipline']
nb_disciplines = len(list_disciplines)
stats = {}
for i in range(nb_disciplines):
    disc = liste_disciplines[i]
    #row:stats type, cols: years, dep: 1:years since first, 2: year of pub
    stats[disc] = np.array([4,102,2])

                  EDiscipline  Annee_Bibliographique
Cluster_ID
44          Clinical Medicine                   2008
172465      Clinical Medicine                   2009
395363      Clinical Medicine                   2011
465441      Clinical Medicine                   2014
551320      Clinical Medicine                   2015

In [14]:
clusterID.head(20)

    Cluster_ID    ID_Art  Annee_Bibliographique  Code_Revue        EDiscipline
0           44  31346952                   2008        3306  Clinical Medicine
1     41700452  45961858                   2010        3306  Clinical Medicine
2     43807191  30069198                   2007        3306  Clinical Medicine
3     39522379  30069198                   2007        3306  Clinical Medicine
4     48792209  30069198                   2007        3306  Clinical Medicine
5     21203424  30069198                   2007        3306  Clinical Medicine
6     45968464  49634098                   2012        3306  Clinical Medicine
7     20480185  49634098                   2012        3306  Clinical Medicine
8     12380537  49634098                   2012        3306  Clinical Medicine
9     40778663  47539070                   2011        3306  Clinical Medicine
10    39369213  47539070                   2011        3306  Clinical Medicine
11    35052171  47539070                   2011        3306  Clinical Medicine
12    40583590  46523849                   2011        3306  Clinical Medicine
13    26187516  46523849                   2011        3306  Clinical Medicine
14     2111198  46523849                   2011        3306  Clinical Medicine
15    26632283  46523849                   2011        3306  Clinical Medicine
16    22558530  46523849                   2011        3306  Clinical Medicine
17    20884067  46523849                   2011        3306  Clinical Medicine
18    12313698  46523849                   2011        3306  Clinical Medicine
19    12308093  46523849                   2011        3306  Clinical Medicine