In [1]:
import pandas as pd
from tables import *
import csv
import numpy as np
import pickle
import time
from scipy import sparse
from tqdm import tqdm_notebook as tqdm

In [2]:
path = "/mnt/disks/sdc/data/"
out_path = "/mnt/disks/sdc/data_journals/"

In [3]:
articles = pd.read_csv(path+'article.txt',sep='\t')

/home/User1/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
articles.head()

,ID_Art,ItemID,Annee_Bibliographique,Code_Revue,Nb_Reference,Nb_Auteur
0,1351047,A1981LA23400028,1981,3868,0,1
1,1351048,A1981LA23400029,1981,3868,0,1
2,1351049,A1981LA23400031,1981,3868,0,1
3,1351050,A1981LA23400032,1981,3868,0,1
4,1351051,A1981LA23400036,1981,3868,0,1

In [8]:
articles = articles[["ID_Art","Code_Revue","Annee_Bibliographique"]]
journals = pd.unique(articles['Code_Revue'])

In [9]:
nb_journals = len(journals)
print(nb_journals)
print(articles.shape)

21305
(63327731, 3)

In [ ]:
dict_journals = {}
for journal in journals:
    arts_journal = articles.loc[articles['Code_Revue']==journal,]
    years = pd.unique(articles["Annee_Bibliographique"])
    for year in years:
        dict_journals[(journal,year)] = np.array(arts_journal.loc[arts_journal['Annee_Bibliographique']==year,"ID_Art"])

In [ ]:
del articles

In [13]:
with open(out_path+'dict_journals_year.p','wb') as f:
    pickle.dump(dict_journals,f)